p {
  font-family: 'Hepta Slab', serif;
}

.navbar {
  color: #8a6b08;
}

.navigation-bar {
  font-family: 'Hepta Slab', serif;
}

.account {
  margin-right: 30px;
}

.left-nav {
  margin-left: 30px;
}

#top-jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://static.wixstatic.com/media/3ce06d_d9ea2026cc1c40bc8ff44c6b3d7dcee0~mv2_d_1800_1906_s_2.jpg/v1/fill/w_1511,h_1600,al_c,q_90/file.jpg');
  background-size: contain;
  font-family: 'Hepta Slab', serif;
  padding: 20px;
}

#meet {
  font-family: 'Hepta Slab', serif;
  color: #0047d6;
}

.jumbotron-font {
  color: #ffffff;
}

.meet-founders {
  border: 2px solid #0047d6;
}

section .row img {
  margin: 0 0 5px;
  width: 100%;
  border: 2px solid #0047d6;
}

.col-sm-6 {
  margin-top: 30px;
}
