.navbar {
  background-color: #ff96cb; /*background color for navbar */
  overflow: hidden
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #fcfafc; /* font color for navbar */
  text-align: center;
  padding: 18px;
  text-decoration: none;
  font-size: 24px;
  margin-left: 15px;
}

/* Change the color of links on hover - flips pink and white  */
.navbar a:hover {
  background-color: #faf7f9;
  color: #ff96cb;
}

body {
  background-color: #ffd1f1;  /*color of background of website -- doesnt work anymore, supposed to be light pink*/
}

/* Modify the backgorund color - sure doesnt work*/
.navbar-custom {
    background-color: lightgreen;
}
